
body{
    background-color: darkseagreen;
}


div#wrapper {width:80%;
    background-color: white;
    margin:auto; border: 1px black double;
    -webkit-box-shadow: 7px 7px 5px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 5px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 5px rgba(50, 50, 50, 0.75);
    border-radius: 20px;
}

header#site {
    background-image:url(moodyless-logo.JPG);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;
    height:140px;
    padding:10px;

    text-align:center;
    font-family: 'Give You Glory', cursive;
}


nav {
    color:#0033FF;;
    width:600px;
    margin:10px auto;
}

nav ul {
    list-style:none;}

nav ul li {
    float:left;}

nav ul li a {
    display: block;
    margin-right: 20px;
    width: 110px;
    line-height:1.5em;
    text-align: center;
    text-decoration: none;
    color: #0033FF;;
}

nav ul li a:hover {
    color: #fff;
    background-color:#39C;
}

img {
    border-radius: 20px;
    width:600px
}

p{
    text-align: center;
    font-family: 'Give You Glory', cursive;
}
h2{
    text-align: center;
    font-family: 'Give You Glory', cursive;
}

.expando{text-align: center}